html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #063647; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #08485f;
	padding-top: 0;
	padding-bottom: 1rem;
}

.section-18 {
	background-color: #073f54;
}

.section-19 {
	background-color: #063647;
}



.section-21 {
	background-color: #052e3d;
}

.section-20 {
	background-color:#042733;
}

.section-23 {
	background-color: #03222c;
}
.section-24 {
	background-color: #031f29;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}
